footer {
  font-family: Inter;
  background-color: #000;
}

.footer-img-container {
  background-color: lightgray;
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0, 0.9) 103%),
    url('/src/features/gps/downloadGamePage/assets/images/footer_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.footer-img-container .footer-overlay-text {
  padding: 40px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  color: #FFF;
  text-shadow: 0 0 18.6px #126B12;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-app-store-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-app-store-icons svg:first-child {
  margin-bottom: 20px;
}

.footer-app-store-icons svg {
  width: 120px;
  height: 35px;
}

.footer-copywrite-container {
  padding: 28px 38px;
}

.footer-copywrite-container p {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.49);
}

.footer-copywrite-container p:last-child {
  margin-top: 20px;
  color: #FFF;
}